[submodule "libpngloader"]
	path = libpngloader
	url = https://github.com/dimao8/libpngloader.git
[submodule "liblitejson"]
	path = liblitejson
	url = https://github.com/dimao8/liblitejson.git
[submodule "libtgaloader"]
	path = libtgaloader
	url = https://github.com/dimao8/libtgaloader.git
[submodule "libcpath"]
	path = libcpath
	url = https://github.com/dimao8/libcpath.git
